<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&amp;family=Black+Han+Sans&amp;family=IBM+Plex+Sans:wght@700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
    <meta charset="UTF-8">
    <title>SpartaCodingClub</title>
    {% endblock %}
</head>
<body>
<div class="root">

</div>
</body>
</html>