{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            let courseName = "{{ course_name }}"
            window.onload = () => {
                fetch(`/api/enrollment?title=${courseName}`)
                .then((resp)=>resp.json())
                .then((response)=>{
                    let { price, discount_ratio } = response
                    let originPrice = price
                    let discounting = price * discount_ratio
                    let discounted = price - discounting
                    let installment = discounted/6
                    console.log(price, discount_ratio)
                    let [first, second, third] = document.querySelectorAll("div.payment-info-right")
                    first.textContent = originPrice.toLocaleString("ko")+" 원"
                    second.textContent = discounting.toLocaleString("ko")+" 원"
                    third.textContent = discounted.toLocaleString("ko")+" 원"
                    document.querySelector(".installment-discount").textContent = (discount_ratio*100).toFixed()+"% "
                    document.querySelector(".installment-price span").textContent = installment.toLocaleString("ko", {maximumFractionDigits:0})

                })
            }
            const body = JSON.stringify({courseName, mode: "cors"})
            const init = {method: "POST", body}
            function enrollment() {
                fetch("/api/enrollment", init)
                .then((response)=> {
                    if (response.message === "success") {
                        window.location.href="/rooadmap"
                    }
                })
                .catch((err) => console.error(err))
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="root">
    <section class="enrollment">
        <div class="enroll-header">
            <div class="enroll-head"><h2>수강신청하기</h2></div>
            <div class="enroll-head" style="color: #868e96;"><h2>{{ course_name }}</h2></div>
        </div>
        <div class="payment">
            <div class="payment-info">
                <div class="payment-info-left">총 상품 금액</div>
                <div class="payment-info-right">800,000 원</div>
            </div>
            <div class="payment-info">
                <div class="payment-info-left sparta-red-color">할인 금액</div>
                <div class="payment-info-right">-&nbsp;&nbsp;&nbsp;230,000 원
                </div>
            </div>
            <div class="payment-info">
                <div class="payment-info-left">결제 가격</div>
                <div class="payment-info-right">570,000 원</div>
            </div>
        </div>
        <div class="payment-divider"></div>
        <div class="payment-installment">
            <div class=installment>6개월 할부</div>
            <div class="installment-right">
                <div class="installment-discount sparta-red-color">29%</div>
                <div class="installment-price">월&nbsp;&nbsp;<span>95,000</span>원</div>
            </div>
        </div>
        <div class="enroll-footer">
            <div class="">완주 시 5만 포인트 추가 환급</div>
        </div>
        <div class="sparta-red-bg button" onclick="enrollment()">수강신청하기</div>
        <div class="payment-agreement">
            <a href="https://www.notion.so/spartacodingclub/cb0c63c1145f4b60aacf0692a888e6fd">개인정보수집</a>,
            <a href="https://www.nicepay.co.kr/cs/terms/policy1.do">전자금융거래 기본약관</a>,<br>
            <a href="https://www.nicepay.co.kr/cs/terms/private.do">개인정보처리방침</a>에 동의합니다.
        </div>
    </section>
</div>
{% endblock %}
</body>
</html>