{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            window.onload = () => {
                lectureNav()
            }
        </script>
        <script src="https://player.vimeo.com/api/player.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="root">
        <div class="wrapper">
            <div class="nav-container">
                <div class="nav-bar" onclick="toggleModal()">
                    <div class="title-number">{{ lecture.week }}-{{ lecture.week_order }}</div>
                    <div class="title-text">{{ lecture.title }}</div>
                    <div class="title-button"><i class="fas fa-angle-down"></i></div>
                </div>
                <div class="next-button" onclick="nextLecture()"><span>다음 강의로!</span></div>
                <div style="position:relative;">
                    <div class="nav-fix"></div>
                    <div class="nav-modal is-hidden">
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="week-toggle">
                                        <i class="fas fa-caret-right"></i>
                                    </div>
                                    <div class="">
                                        스파르타코딩클럽 시그니처 웹개발 종합반
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                </div>
                            </div>
                            <div class="week-detail-container">
                                <div class="week-detail-list"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="side-bar">
                    <div class="buttons1">
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_001.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_002.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_003.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_004.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_005.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_006.png" alt="">
                        </div>
                    </div>
                    <div class="buttons2">
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_007.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="class-player">
                    <iframe id="class-video" width="100%" height="100%" frameborder="0"
                            src="{{ lecture.link }}"
                            allow="autoplay; fullscreen;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>