{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            window.onload = () => {
                document.getElementById("class-video").setAttribute("src", "https://player.vimeo.com/video/457373588")
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="root">
        <div class="wrapper">
            <div class="nav-container">
                <div class="nav-bar">
                    <div class="title-number">0-1</div>
                    <div class="title-text">수강환경 튜토리얼</div>
                    <div class="title-button"><i class="fas fa-angle-down"></i></div>
                </div>
                <div style="position:relative">
                    <div class="nav-fix"></div>
                    <div class="nav-modal">
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="">

                                    </div>
                                    <div class="">
                                        웹 프로그래밍 A-Z 심화 0주차
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                    <div class=""
                                         style="">
                                        <div class=""
                                             style=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="">
                                    </div>
                                    <div class="">
                                        웹 프로그래밍 A-Z 심화 1주차
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                    <div class=""
                                         style="">
                                        <div class=""
                                             style=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="">
                                    </div>
                                    <div class="">
                                        웹 프로그래밍 A-Z 심화 2주차
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                    <div class=""
                                         style="">
                                        <div class=""
                                             style=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="">

                                    </div>
                                    <div class="">
                                        웹 프로그래밍 A-Z 심화 3주차
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                    <div class=""
                                         style="">
                                        <div class=""
                                             style=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-list">
                            <div class="nav-week">
                                <div class="week-title">
                                    <div class="">

                                    </div>
                                    <div class="">
                                        웹 프로그래밍 A-Z 심화 4주차
                                    </div>
                                </div>
                                <div class="week-title">
                                    <span class="">100%</span>
                                    <div class=""
                                         style="">
                                        <div class=""
                                             style=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="week-detail-container">
                                <div class="week-detail-list">
                                    <div class="week-detail">
                                        <div class="">
                                            4-1
                                        </div>
                                        <div class="text">
                                            4주차 이번주에 배울 것
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-2
                                        </div>
                                        <div class="text">
                                            Bulma 로 웹사이트 꾸미기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-3
                                        </div>
                                        <div class="text">
                                            회원가입 기능
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-4
                                        </div>
                                        <div class="text">
                                            로그인 기능
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-5
                                        </div>
                                        <div class="text">
                                            프로젝트 4: Sweeter
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-6
                                        </div>
                                        <div class="text">
                                            프로젝트 세팅
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-7
                                        </div>
                                        <div class="text">
                                            로그인 &amp; 회원가입 페이지 모습 만들기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-8
                                        </div>
                                        <div class="text">
                                            회원가입 페이지 기능 만들기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-9
                                        </div>
                                        <div class="text">
                                            로그인 페이지 기능 만들기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-10
                                        </div>
                                        <div class="text">
                                            메인 페이지 모습 만들기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-11
                                        </div>
                                        <div class="text">
                                            메인 페이지 기능 만들기 - 포스팅
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-12
                                        </div>
                                        <div class="text">
                                            메인 페이지 기능 만들기 - 좋아요
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-13
                                        </div>
                                        <div class="text">
                                            프로필 페이지 모습 만들기 - 전체
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-14
                                        </div>
                                        <div class="text">
                                            프로필 페이지 모습 만들기 - 프로필 수정
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-15
                                        </div>
                                        <div class="text">
                                            프로필 페이지 기능 만들기
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="week-detail">
                                        <div class="">
                                            4-16
                                        </div>
                                        <div class="text">
                                            4주차 끝 &amp; 숙제 설명
                                        </div>
                                        <div class="">
                                        </div>
                                    </div>
                                </div>
                                <div class="week-detail-list">
                                    <div class="week-detail">
                                        <div class="text">
                                            4주차 숙제 하트뿐만 아니라 별, 좋아요도 달 수 있게 만들어볼까요?
                                        </div>
                                        <div class="">
                                            제출됨
                                        </div>
                                    </div>
                                </div>
                                <div class="week-detail-list">
                                    <div class="week-detail">
                                        <div class="text">
                                            4주차 개발일지 쓰기
                                        </div>
                                        <div class="">제출전</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="side-bar">
                    <div class="buttons1">
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_001.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_002.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_003.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_004.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_005.png" alt="">
                        </div>
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_006.png" alt="">
                        </div>
                    </div>
                    <div class="buttons2">
                        <div class="side-menu" onClick="btnClick('')"><img src="/static/images/icon_007.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="class-player">
                    <iframe id="class-video" width="100%" height="100%" frameborder="0"
                            allow="autoplay; fullscreen;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>