{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            window.onload = function () {
                getCourseListForRoadmap()
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="root">
        <div class="heading">
        </div>
        <div class="wrapper">
            <div class="">
                <div class="navigation-bar"></div>
                <div class="roadmap-bg">
                    <div class="roadmap">
                        <div class="roadmap-content">
                            <div class="content-main">
                                <div class="round-week">
                                    <div class="lectures">
                                        <div class="roadmap-header">
                                            <div class="header-summary">
                                                <div class="summary-title">
                                                    <span class="summary-header">배우기</span>
                                                </div>
                                                <div class="summary-detail">
                                                    <div class="detail-obj">
                                                        <i class="fas fa-clock"></i>
                                                    </div>
                                                    <div class="detail-obj">
                                                        <i class="fas fa-exclamation-triangle"></i>9월 19일(일)
                                                    </div>
                                                    <div class="detail-mat">
                                                        <a href="https://www.notion.so/565aa5540e08496b9ed62beda35ed8da"
                                                           target="_blank">강의자료
                                                            <i class="fas fa-external-link-alt"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="header-colleague">
                                                <div class="colleague">
                                                    <div class="colleague-info">유동민 님 외<br>
                                                        <span class="colleague-num">3</span>명이 듣고 있어요. 우와!👏
                                                    </div>
                                                    <div class="colleague-profiles">
                                                        <img src="/static/images/rtan01.png" alt="">
                                                        <img src="/static/images/rtan02.png" alt="">
                                                        <img src="/static/images/rtan03.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dotted-hr">
                                        </div>
                                        <div class="round-week-detail">
                                            <div class="week-detail-header">
                                                <div class="detail-header-title">강의 목록</div>
                                                <div class="detail-header">
                                                    <span class="detail-toggle" onclick="toggleList()">목록 닫기</span>
                                                    <i class="fas fa-chevron-down is-hidden"></i>
                                                    <i class="fas fa-chevron-up"></i>

                                                </div>
                                            </div>
                                            <div class="round-week-detail-body"></div>
                                        </div>
                                    </div>
                                    <div class="homeworks">
                                        <div class="week-homework">
                                            <div class="week-homework-title">숙제
                                            </div>
                                            <div class="week-homework-status">제출전</div>
                                        </div>
                                    </div>
                                    <div class="wil">
                                        <div class="round-wil">
                                            <div class="round-wil-title">개발일지</div>
                                            <div class="round-wil-status">제출전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>