{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            window.onload(()=> {
                getRoadMap()
            })
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
<div class="root">
<div class="heading"></div>
    <div class="classroom">
        <div class="title"><div class="sparta-red tag"></div></div>
        <div class="toggle"></div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
        <div class="classes">
            <div class="description"></div>
            <div class="time"></div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>