{% extends "base.html" %}
<html lang="ko">
<head>
    {% block header %}
        {{ super() }}
        <meta charset="UTF-8">
        <title>SpartaCodingClub</title>
        <script>
            function toggleList() {
                document.querySelector(".round-week-detail-body").classList.toggle("is-hidden")
            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="root">
        <div class="heading">
        </div>
        <div class="wrapper">
            <div class="">
                <div class="navigation-bar"></div>
                <div class="roadmap-bg">
                    <div class="roadmap">
                        <div class="roadmap-content">
                            <div class="content-main">
                                <div class="round-week">
                                    <div class="lectures">
                                            <div class="roadmap-header">
                                                <div class="header-summary">
                                                    <div class="summary-title">
                                                        <span class="summary-header">배우기</span>
                                                        웹개발의봄, Spring 1주차
                                                    </div>
                                                    <div class="summary-detail">
                                                        <div class="detail-obj">
                                                            <i class="fas fa-clock"></i>2시간 21분
                                                        </div>
                                                        <div class="detail-obj">
                                                            <i class="fas fa-exclamation-triangle"></i>9월 19일(일)
                                                        </div>
                                                        <div class="detail-mat">
                                                            <a href="" target="">강의자료
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="header-colleague">
                                                    <div class="colleague">
                                                        <div class="colleague-info">유동민 님 외<br>
                                                            <span class="colleague-num">3</span>명이 듣고 있어요. 우와!👏
                                                        </div>
                                                        <div class="colleague-profiles">
                                                            <img src="/static/images/rtan01.png" alt="">
                                                            <img src="/static/images/rtan02.png" alt="">
                                                            <img src="/static/images/rtan03.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dotted-hr">
                                            </div>
                                            <div class="round-week-detail">
                                                <div class="week-detail-header">
                                                    <div class="detail-header-title">강의 목록</div>
                                                    <div class="detail-header">
                                                        <span class="detail-toggle" onclick="toggleList('')">목록 닫기</span>
                                                        {#<i class="fas fa-chevron-down"></i>#}
                                                        <i class="fas fa-chevron-up"></i>
                                                    </div>
                                                </div>
                                                <div class="round-week-detail-body">
                                                    <div class="week-body highlighted">
                                                        <div class="week-detail-num">1-1</div>
                                                        <div class="week-detail-title">[1주차] 이번 주 배울 것</div>
                                                        <div class="week-detail-playtime">12:55</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-2</div>
                                                        <div class="week-detail-title">필수 프로그램 설치 안내</div>
                                                        <div class="week-detail-playtime">04:16</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-3</div>
                                                        <div class="week-detail-title">[1주차] 일단 스프링 작동시키기</div>
                                                        <div class="week-detail-playtime">12:21</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-4</div>
                                                        <div class="week-detail-title">[1주차] 웹의 기본 개념</div>
                                                        <div class="week-detail-playtime">07:15</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-5</div>
                                                        <div class="week-detail-title">[1주차] 자바 기초 문법 - 1</div>
                                                        <div class="week-detail-playtime">11:09</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-6</div>
                                                        <div class="week-detail-title">[1주차] 자바 기초 문법 - 2</div>
                                                        <div class="week-detail-playtime">15:10</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-7</div>
                                                        <div class="week-detail-title">[1주차] 자바 기초 문법 - 3</div>
                                                        <div class="week-detail-playtime">14:27</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-8</div>
                                                        <div class="week-detail-title">[1주차] 자바 기초 문법 - 4</div>
                                                        <div class="week-detail-playtime">18:35</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-9</div>
                                                        <div class="week-detail-title">[1주차] 자바 클래스</div>
                                                        <div class="week-detail-playtime">13:42</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-10</div>
                                                        <div class="week-detail-title">[1주차] Getter, Setter</div>
                                                        <div class="week-detail-playtime">11:56</div>
                                                        <div class="week-detail-seen"></div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-11</div>
                                                        <div class="week-detail-title">[1주차] 브라우저에 바로 나타내보기</div>
                                                        <div class="week-detail-playtime">10:24</div>
                                                        <div class="week-detail-seen">
                                                        </div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-12</div>
                                                        <div class="week-detail-title">[1주차] 그레이들(Gradle)이란?</div>
                                                        <div class="week-detail-playtime">06:47</div>
                                                        <div class="week-detail-seen">
                                                        </div>
                                                    </div>
                                                    <div class="week-body">
                                                        <div class="week-detail-num">1-13</div>
                                                        <div class="week-detail-title">[1주차] 끝 &amp; 숙제설명</div>
                                                        <div class="week-detail-playtime">02:26</div>
                                                        <div class="week-detail-seen">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="homeworks">
                                        <div class="week-homework">
                                            <div class="week-homework-title">1주차 숙제 Person 클래스 만들고, 내 정보 브라우저에
                                                띄워보기
                                            </div>
                                            <div class="week-homework-status">제출전</div>
                                        </div>
                                    </div>
                                    <div class="wil">
                                        <div class="round-wil">
                                            <div class="round-wil-title">1주차 개발일지 쓰기</div>
                                            <div class="round-wil-status">제출전</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>